@{
    
Layout = "~/_Layout.cshtml";
 Page.Title = "Visual Graph";   
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h2> Visual Graph</h2>
        
 