@{
    
 Layout = "~/_Layout.cshtml";
 Page.Title = "Visual Graph";   
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

         <h1>Employee Annual Leave Days</h1>
    
    <p><img src="MakeGraph.cshtml" /> </p>

    <p>
        <a href="@Href("~/Logout")">Log out</a>
        <br/>
        <a href="@Href("~/Home")">Home</a>
        </p>
        
    </body>
</html>
